## Gun Violence Archive Congressional District Summary Scrape
This script scrapes congressional district level summary reports for 2014 - 2016 from the Gun Violence Archive. (http://www.gunviolencearchive.org/). These reports contain the folling variables for each congressional district for each year:

'Total Number of Incidents': Continuous<br>
'Number of Deaths': Continuous<br>
'Number of Injuries': Continuous<br>
'Number of Children (age 0-11)Killed or Injured': Continuous<br>
'Number of Teens (age 12-17)Killed or Injured': Continuous<br>
'Mass Shooting',<br>
'Officer Involved IncidentOfficer Shot or Killed': Continuous<br>
'Officer Involved IncidentSubject-Suspect Shot or Killed': Continuous<br>
'Home Invasion': Continuous<br>
'Defensive Use': Continuous<br>
'Accidental Shooting': Continuous<br>
'State': Categorical<br>
'Year': Categorical<br>
'District': Categorical<br>


The informations is then output to a CSV file. This is a long version which has all the 11 factors as columns with an entry for each congressional district by year.

In [6]:
#Import Packages
import requests
from bs4 import BeautifulSoup
import pandas as pd
import pickle
import time
from IPython import display

In [10]:
#Dict of State abbreviations: States full names
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

#Abbreviated state names
states_abrev = [l.lower() for l in states.keys()]

#Years to include
years = ['2014','2015','2016']

#States with one congressional district
at_large = ['mt', 'nd', 'sd', 'wy', 'vt', 'de', 'ak']

#Factors to include
factors = ['Total Number of Incidents',
'Number of Deaths',
'Number of Injuries',
'Number of Children (age 0-11)Killed or Injured',
'Number of Teens (age 12-17)Killed or Injured',
'Mass Shooting', 
'Officer Involved IncidentOfficer Shot or Killed',
'Officer Involved IncidentSubject-Suspect Shot or Killed',
'Home Invasion',
'Defensive Use',
'Accidental Shooting']

#base url
url = "http://www.gunviolencearchive.org/congress/{}"
url2 = "http://www.gunviolencearchive.org/congress/{}/{}"

#Create dict to store data
shooting_stats = dict.fromkeys(years)

#Create Sub-dict for each state
for x in shooting_stats.keys(): shooting_stats[x]=dict.fromkeys(states_abrev)

#Create fully nested dict year>state>district>factors
#State Level
for s in states_abrev:
    display.clear_output(wait=True)
    display.display('Working on State: {}'.format(s))
    
    result = requests.get(url.format(s))
    soup = BeautifulSoup(result.text,"lxml")
    options = soup.find_all("select",{'class':'fancy district-dropdown form-select'})[0].find_all('option')
    
    # Number of Districts
    options = [x.get_text() for x in options]
    options[0] = ''
    
    #Years
    for y in years:
        shooting_stats[y][s] = dict.fromkeys(options)
        
        #Factors
        for o in shooting_stats[y][s].keys():
            shooting_stats[y][s][o] = dict.fromkeys(factors)
display.clear_output()

In [11]:
#Pull Data For Each Congressional District
for s in states_abrev:
    for d in shooting_stats['2015'][s].keys():
        
        display.clear_output(wait=True)
        display.display('Working on State: {}, District: {}'.format(s,d))
        #Pull Site
        result = requests.get(url2.format(s,d))

        #Parse
        c = result.content
        soup = BeautifulSoup(result.text,"lxml")
    
        for x in range(3):
            try:
                #Pulls Frame From Site
                frame = soup.find_all("div",{"class":"small-12 medium-4 columns"})[x].find_all("span")

                #Pull Data From Table
                title = []
                answer = []
                for i in range(len(frame)): 
                    if i % 2 > 0: title.append(frame[i].get_text())
                    if i % 2 == 0: answer.append(frame[i].get_text())

                #Remove subscripts from title
                for t in range(len(title)):
                    if title[t][-1] == '1' or title[t][-1] == '2': title[t] = title[t][0:-1]

                #Insert data into Dict
                for i in range(len(title)):
                    #shooting_stats[states_abrev[s]][answer[0]][title[i]] = answer[i+1]
                    shooting_stats[answer[0]][s][d][title[i]] = answer[i+1]
            except:
                continue
display.clear_output(wait=True)

'Working on State: ky, District: 02'

In [12]:
#Save Raw Dict to Pickle as Backup (Saves as unique file each time it is run)
with open('data//gun_stats_dict{}.pickle'.format(str(time.time())[0:10]), 'wb') as handle:
    pickle.dump(shooting_stats, handle)

In [22]:
#Create Long Dataframe
for i in range(len(states_abrev)):
    for y in years:
        if i == 0 and y == '2014':
            master = pd.DataFrame(shooting_stats[y][states_abrev[i]]).T
            master["State"] = [states_abrev[i]]*master.shape[0]
            master["Year"] = [y]*master.shape[0]
        else:
            slave = pd.DataFrame(shooting_stats[y][states_abrev[i]]).T
            slave["State"] = [states_abrev[i]]*slave.shape[0]
            slave["Year"] = [y]*slave.shape[0]
            master = pd.concat([master,slave])

In [23]:
#Fixes the Indecies of At-Large States
master.index = ['00' if x == '' else x for x in list(master.index)]

In [24]:
#Create Unique District Names Column
district = []
for i in range(len(list(master['State']))):
    district.append(list(master['State'])[i].upper() + ' ' + list(master.index)[i])
    
master['District'] = district
master.index = district

In [25]:
#master.index = master['District']
master['District'] = [x[-2:] for x in list(master['District'])]

In [26]:
master.head().T

,CT 00,CT 01,CT 02,CT 03,CT 04
Accidental Shooting,15,2,2,4,2
Defensive Use,11,2,3,2,4
Home Invasion,26,7,5,8,3
Mass Shooting,1,0,0,0,1
Number of Children (age 0-11)Killed or Injured,1,0,0,1,0
Number of Deaths,76,26,3,17,16
Number of Injuries,206,57,11,70,52
Number of Teens (age 12-17)Killed or Injured,19,3,2,9,5
Officer Involved IncidentOfficer Shot or Killed,1,0,1,0,0
Officer Involved IncidentSubject-Suspect Shot or Killed,4,0,1,2,1
Total Number of Incidents,578,150,52,203,122
State,ct,ct,ct,ct,ct
Year,2014,2014,2014,2014,2014
District,00,01,02,03,04

In [27]:
#Create Data Frame of at Large States
for i in range(len(at_large)):
    if i == 0:
        at_large_df = master[master['State'] == at_large[i]]
    if i > 0:
        at_large_df = pd.concat([at_large_df, master[master['State'] == at_large[i]]])

In [28]:
#Create Dataset without 00 congressional district values
master1 = pd.concat([master[master['District'] != '00'], at_large_df])

In [50]:
#Uppercase State
master1['State'] = [x.upper() for x in master1['State']]

In [51]:
# Remove Missing Values (PA 02 is not listed in this data)
master2 = master1.drop(master1.index[[i for i, x in enumerate(pd.isnull(master1['Number of Deaths'])) if x == True]],axis = 0)

In [52]:
#Write to CSV 
master2.to_csv('data//US_Shooting_Stats_by_Congressional_District_2014-2016_long.csv')

In [53]:
master2

,Accidental Shooting,Defensive Use,Home Invasion,Mass Shooting,Number of Children (age 0-11)Killed or Injured,Number of Deaths,Number of Injuries,Number of Teens (age 12-17)Killed or Injured,Officer Involved IncidentOfficer Shot or Killed,Officer Involved IncidentSubject-Suspect Shot or Killed,Total Number of Incidents,State,Year,District
CT 01,2,2,7,0,0,26,57,3,0,0,150,CT,2014,01
CT 02,2,3,5,0,0,3,11,2,1,1,52,CT,2014,02
CT 03,4,2,8,0,1,17,70,9,0,2,203,CT,2014,03
CT 04,2,4,3,1,0,16,52,5,0,1,122,CT,2014,04
CT 05,5,0,2,0,0,11,13,0,0,0,41,CT,2014,05
CT 01,3,4,12,0,0,28,103,4,0,2,232,CT,2015,01
CT 02,6,4,6,0,1,11,18,3,0,2,69,CT,2015,02
CT 03,3,5,10,1,0,24,85,7,0,3,189,CT,2015,03
CT 04,3,2,8,1,1,18,98,9,0,0,187,CT,2015,04
CT 05,3,1,3,0,0,7,25,2,0,0,46,CT,2015,05
CT 01,8,1,6,1,0,16,68,4,0,1,144,CT,2016,01
CT 02,5,0,5,0,2,3,13,3,0,1,51,CT,2016,02
CT 03,3,7,7,0,0,13,64,5,0,3,157,CT,2016,03
CT 04,3,5,7,1,1,11,121,5,0,2,274,CT,2016,04
CT 05,3,2,4,1,0,12,37,0,1,1,59,CT,2016,05
VA 01,5,0,3,1,0,11,26,1,1,0,49,VA,2014,01
VA 02,4,1,3,1,4,27,60,6,1,2,124,VA,2014,02
VA 03,9,6,17,4,8,112,306,36,2,2,516,VA,2014,03
VA 04,5,4,7,0,5,33,44,3,0,1,122,VA,2014,04
VA 05,2,0,7,0,0,15,28,1,1,5,66,VA,2014,05
VA 06,3,4,2,0,0,19,31,0,0,3,88,VA,2014,06
VA 07,2,2,3,1,4,16,24,5,1,1,83,VA,2014,07
VA 08,1,1,2,0,0,8,8,1,0,1,59,VA,2014,08
VA 09,2,3,2,1,0,25,20,2,0,3,58,VA,2014,09
VA 10,1,1,1,0,0,5,3,3,0,2,28,VA,2014,10
VA 11,1,0,2,0,0,3,10,2,0,1,35,VA,2014,11
VA 01,4,1,5,0,0,22,18,3,0,0,60,VA,2015,01
VA 02,6,1,11,0,0,34,64,8,0,4,140,VA,2015,02
VA 03,10,6,29,2,6,138,398,32,3,9,554,VA,2015,03
VA 04,4,1,11,2,2,27,71,5,2,5,113,VA,2015,04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
KY 04,5,0,3,0,1,14,20,4,1,6,44,KY,2015,04
KY 05,5,6,11,0,1,48,45,2,1,8,97,KY,2015,05
KY 06,11,8,17,1,1,34,131,4,1,5,244,KY,2015,06
KY 01,8,7,10,0,1,30,35,3,1,3,134,KY,2016,01
KY 02,6,2,6,0,0,22,27,3,0,4,77,KY,2016,02
KY 03,14,10,16,1,6,88,188,26,2,3,305,KY,2016,03
KY 04,1,1,1,0,0,9,11,0,0,0,28,KY,2016,04
KY 05,4,9,4,0,1,37,25,1,0,5,67,KY,2016,05
KY 06,14,6,9,0,0,35,79,10,2,5,165,KY,2016,06
MT 00,19,5,5,0,1,32,30,1,0,9,129,MT,2014,00
MT 00,8,6,5,1,4,34,38,3,0,7,136,MT,2015,00
MT 00,6,3,1,0,3,32,15,0,0,9,122,MT,2016,00
ND 00,11,4,4,0,1,15,24,3,0,3,109,ND,2014,00
ND 00,11,1,8,0,0,18,34,0,0,8,150,ND,2015,00
ND 00,16,4,7,0,0,16,28,5,1,8,121,ND,2016,00
SD 00,10,0,3,1,0,17,24,2,0,4,73,SD,2014,00
SD 00,19,2,9,1,2,25,29,6,1,8,100,SD,2015,00
SD 00,13,4,3,0,0,20,27,3,4,7,105,SD,2016,00
WY 00,8,3,1,0,1,15,12,0,0,3,64,WY,2014,00
WY 00,8,1,1,0,2,21,15,0,0,6,198,WY,2015,00
WY 00,2,2,1,0,1,17,8,0,1,4,102,WY,2016,00
VT 00,7,4,12,0,1,18,29,0,1,5,172,VT,2014,00
VT 00,11,1,7,1,2,13,20,0,0,3,118,VT,2015,00
VT 00,7,5,7,0,0,6,8,2,0,3,73,VT,2016,00
DE 00,5,6,28,0,1,50,180,18,1,5,492,DE,2014,00
DE 00,6,1,12,1,6,58,202,15,0,7,364,DE,2015,00
DE 00,5,0,10,2,0,36,163,31,0,3,272,DE,2016,00
AK 00,10,4,10,1,1,29,49,5,1,4,147,AK,2014,00
AK 00,19,16,19,0,10,70,84,8,1,5,379,AK,2015,00
AK 00,14,24,18,0,3,67,81,8,5,10,374,AK,2016,00